<footer class="footer">
  <a href="#home" class="arrow__up"><i class="fa-solid fa-arrow-up animated__animate"></i></a>
  <div class="footer__container">
    <nav class="footer__menu">
      <ul class="menu__list">
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">articles</a></li>
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">books</a></li>
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">events</a></li>
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">reasons</a></li>
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">tips</a></li>
      </ul>
    </nav>
    <nav class="footer__socials">
      <ul class="menu__list">
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">twitter</a></li>
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">instagram</a></li>
        <li class="list__item"><a href="https://adalab.es/" target="_blank" class="item__link">mastodon.social</a></li>
      </ul>
    </nav>
    <div class="copyright">
      <p class="copyright__year">&copy;2023</p>
      <p class="copyright__sentence">
        we <span><i class="fa-solid fa-heart"></i></span> components
      </p>
    </div>
  </div>
</footer>
