<main class="main" id="home">
    <section class="main__hero">
      <h1 class="hero__title">anonymous proxy</h1>
      <p class="hero__subtitle">In hac habitasse platea dictumst.</p>
      <div class="hero__down-arrow"><a href="#reasons"><i class="fa-solid fa-chevron-down"></i></a></div>
    </section>
    <section class="main__tips">
      <article class="tips__article">
        <p class="article__upper-text">Insomnia Tips</p>
        <h2 class="article__title">Looking Through A Window</h2>
        <p class="article__content">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
      </article>
      <a href="https://adalab.es/" class="tips__button">go</a>
    </section>
    <section class="main__reasons" id="reasons">
      <h2 class="reasons__title">3 Reasons To Purchase</h2>
      <div class="reasons__container">
        <h3 class="container__title">3 Reasons To Purchase</h3>
        <p class="container__text">Lorem ipsum dolor sit amet, consecteur.</p>
        <h3 class="container__title">Lorem ipsum dolor sit amet, consecteur.</h3>
        <p class="container__text">Mauris mattis urna quis lorem molestie.</p>
        <h3 class="container__title">Mauris mattis urna quis lorem molestie.</h3>
        <p class="container__text">Aliquam in dolor et dolor tincidunt.</p>
      </div>
      <a href="https://adalab.es/" class="reasons__button">more reasons</a>
    </section>
  </main>