<main class="main" id="home">
    <section class="main__hero">
      <div class="main__container">
        <div class="container__text">
          <h1 class="hero__title">anonymous proxy</h1>
          <p class="hero__subtitle">In hac habitasse platea dictumst.</p>
        </div>
        <a href="#reasons" class="hero__link"><i class="fa-solid fa-chevron-down"></i></a>
      </div>
    </section>
    <section class="main__tips">
      <article class="tips__article">
        <p class="article__upper-text">Insomnia Tips</p>
        <h2 class="article__title">Looking Through A Window</h2>
        <p class="article__content">
          Donec accumsan, nulla ut volutpat porttitor, quam odio tempus felis, at luctus ex diam nec lectus. Vivamus semper sodales rutrum.
        </p>
      </article>
      <a href="https://adalab.es/" target="_blank" class="tips__button">go</a>
    </section>
    <section class="main__reasons reasons__grid" id="reasons">
      <h2 class="reasons__title">3 Reasons To Purchase</h2>
      <div class="reasons__items">
        <div class="grid__item">
          <h3 class="grid__title">Ut sed metus</h3>
          <p class="grid__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="grid__item">
          <h3 class="grid__title">Curabitur ac erat</h3>
          <p class="grid__text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="grid__item">
          <h3 class="grid__title">Morbi dictum</h3>
          <p class="grid__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </div>
      <a href="https://adalab.es/" class="reasons__button" target="_blank">more reasons</a>
    </section>
  </main>