<section class="main__reasons reasons__grid" id="reasons">
      <h2 class="reasons__title">3 Reasons To Purchase</h2>
      <div class="reasons__items">
        <div class="grid__item">
          <h3 class="grid__title">Ut sed metus</h3>
          <p class="grid__text">Lorem ipsum dolor sit amet, consecteur.</p>
        </div>
        <div class="grid__item">
          <h3 class="grid__title">Curabitur ac erat</h3>
          <p class="grid__text">Mauris mattis urna quis lorem molestie.</p>
        </div>
        <div class="grid__item">
          <h3 class="grid__title">Morbi dictum</h3>
          <p class="grid__text">Aliquam in dolor et dolor tincidunt.</p>
        </div>
      </div>
      <a href="https://adalab.es/" class="reasons__button" target="_blank">more reasons</a>
    </section>