/* Fonts */
$primary_font_family: 'Roboto', sans-serif;
$title_font_family: 'Roboto Slab', serif;

/* Colors */
    /* Elements */
$button_orange_color: #f26002;
$button_blue_color: #0271bc;
$background_color_grey_blue: #304268;
$background_color_ice_blue: #eff9ff;
    /* Texts */
$white: #fff;
$light_blue: #8ccbea;
$title_black: #000;
$greyish_brown: #4a4a4a;
    /* Different opacities*/
$white_half_opacity: rgba(255, 255, 255, 0.5);
$black_half_opacity: rgba(0, 0, 0, 0.5);
$black_20_opacity: rgba(0, 0, 0, 0.2);

/* Sizes */
$title_mobile: 2.5rem;
$text_mobile: 1.9rem;
$text_small: 1.4rem;

$title_2_tablet: 2.6rem;
$title_3_text_tablet_desktop: 2.4rem;
$title_desktop: 3.2rem;
$text_tablet: 2rem;
$text_footer: 1.6rem;

/* margins */
$margin: 15px;




