/* fonts */
$font_family_primary: 'Roboto', sans-serif;
$font_family_title: 'Roboto Slab', serif;

/* colors */

$button_orange_color: #f26002;
$button_blue_color: #0271bc;
$background_grey_blue: #304268;
$background_ice_blue: #eff9ff;

$white: #fff;
$light_blue: #8ccbea;
$title_black: #000;
$greyish_brown: #4a4a4a;

    /* different opacities*/
$white_half_opacity: rgba(255, 255, 255, 0.5);
$black_half_opacity: rgba(0, 0, 0, 0.5);
$black_20_opacity: rgba(0, 0, 0, 0.2);

    /* font sizes */
$fs-h2: 2.5rem;
$fs-h3: 1.8rem;
$fs-base: 1.8rem;
$fs-smaller: 1.6rem;
$fs-smallest: 1.4rem;

$fs-h2-tablet: 2.6rem;
$fs-h3-tablet: 2.4rem;

$fs-h2-desktop: 3.2rem;
$fs-base-tablet: 2rem;

    /* line heights*/
$lh-base: 1.67;
$lh-smaller: 1.5;
$lh-smaller-2: 1.3;
$lh-smallest: 1.25;
$lh-bigger: 1.73;

/* Margins */
$margin: 15px;
$margin-bigger: 39px;
$margin-bigger-2: 45px;

$width-desktop: 730px;





