.footer {
    background-color: $background_color_grey_blue;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .footer__container {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        @media all and (min-width:768px) {
                flex-direction: row;
                justify-content: space-between;
                align-items: flex-start;
                width: 100%;
            }
        @media all and (min-width:1280px) {
            width: 730px;
        }
    }
    .fa-arrow-up {
        color: $button_orange_color;
        background-color: $white;
        border-radius: 50%;
        padding: 10px;
        width: 25px;
        height: 25px;
        transform: translateY(-50%);
    }
    .footer__menu, .footer__socials {
        margin-bottom: 30px;
        .list__item {
            padding-top: 14px;
            text-align: center;
            @media all and (min-width:768px) {
                text-align: left;
            }
        }
        a {
            color: white;
            text-transform: uppercase;
            text-decoration: none;
            font-size: $text_footer;
            
        }
    }
    .footer__menu {
        @media all and (min-width:768px) {
            order: 2;
            width: 23%;
        }
    }
    .footer__socials{
        @media all and (min-width:768px) {
            order: 3;
            margin-right: 39px;
            width: 23%;
        }
    }
    .copyright {
        color: $white;
        text-align: center;
        font-size: $text_small;
        line-height: 2.14;
        .copyright__sentence{
            margin-bottom: 45px;
            .fa-heart {
                color: $button_orange_color;
                font-size: 1.2rem;
            }
        }
        @media all and (min-width:768px){
            order:1;
            margin-left: 39px;
            text-align: left;
        }
    }
    
}