/* section 1: hero */

.main__hero {
    height: 100vh;
    width: 100%;
    background-image: url(../images/cover.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    object-fit: contain;
    .main__container {
        height: 100%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
    .hero__title {
        font-family: $title_font_family;
        color: $white;
        font-size: 4.2rem;
        line-height: 1.3;
        text-align: center;
        text-transform: uppercase;margin-top: 250px;
    }
    .hero__subtitle {
        font-size: 1.8rem;
        text-align: center;
        color: $white;
        padding-top: 10px;
        padding-bottom: 45px;
    }
    .fa-chevron-down {
        font-size: 2.4rem;
        color: $button_orange_color;
        background-color: $white;
        border-radius: 50%;
        display: block;
        padding: $margin;
    }
}

/* section 2: looking through a window */

.main__tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: $margin;
    padding-right: $margin;
    .article__upper-text {
        color: $light_blue;
        font-size: $text_small;
        padding-top: 45px;
        padding-bottom: 10px;
    }
    .article__title{
        color: $title_black;
        font-family: $title_font_family;
        font-size: $title_mobile;
        line-height: 1.25;
    }
    .article__content {
        color: $greyish_brown;
        font-size: $text_mobile;
        padding-top: $margin;
        line-height: 1.67;
    }
    .tips__button {
        width: 76px;
        padding: 12px 0;
        color: $button_orange_color;
        font-size: 2rem;
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        text-align: center; 
        border: 3px solid $button_orange_color;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 45px;
    }
}

/* section 3: reasons */
.main__reasons {
    background-color: $background_color_ice_blue;
    .reasons__title {
        font-family: $title_font_family;
        font-size: $title_mobile;
        font-weight: bold;
        padding-left: $margin;
        padding-right: $margin;
        margin-top: 30px;
        text-align: center;
    }
    .grid__item {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: $title_black;
    }
    .grid__title {
        font-family: $title_font_family;
        font-weight: bold;
        font-size: $text_mobile;
        text-align: center;
        line-height: 1.67;
        margin-top: 45px;
    }
    .grid__text{
        font-size: $text_mobile;
        line-height: 1.67;
        text-align: center;
        padding-left: $margin;
        padding-right: $margin;
        width: 62%;
    }

    .reasons__button {
        &:first-letter {
            text-transform: capitalize;
        }
        color: $white;
        font-size: 2rem;
        font-weight: 500;
        text-align: center;
        line-height: 2.25;
        text-decoration: none;
        background-color: $button_orange_color;
        border-radius: 25px;
        width: 184px;
        margin: 45px auto 60px auto;
    }
}
.reasons__grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr, 2fr, 1fr;
    .reasons__title {
        grid-column: span 3;
    }
    .reasons__items {
        grid-column: span 3;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
        grid-template-rows: 1fr;
        .grid__item {
            grid-column: 1 / 4;
            @media all and (min-width:768px) {
                grid-column: span 1;
            }
        }
    }
    .reasons__button {
        grid-column: span 3;
    }
}