.main__hero {
    height: 100vh;
    width: 100%;
    background-image: url(../images/cover.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    .hero__title {
        font-family: $title_font_family;
        color: $white;
        font-size: 4.2rem;
        text-align: center;
        text-transform: uppercase;
    }
    .hero__subtitle {
        font-size: 1.6rem;
        color: $white;
        padding-top: 10px;
    }
}

.main__tips {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding-left: $margin;
    padding-right: $margin;
    .article__upper-text {
        color: $light_blue;
        font-size: $text_small;
        padding-top: 45px;
        padding-bottom: 10px;
    }
    .article__title{
        color: $title_black;
        font-family: $title_font_family;
        font-size: $title_mobile;
        line-height: 1.25;
    }
    .article__content {
        color: $greyish_brown;
        font-size: $text_mobile;
        padding-top: $margin;
        line-height: 1.67;
    }
    .tips__button {
        width: 76px;
        padding: 12px 0;
        color: $button_orange_color;
        font-size: 2rem;
        font-weight: 500;
        text-transform: capitalize;
        text-decoration: none;
        text-align: center; 
        border: 3px solid $button_orange_color;
        border-radius: 25px;
        margin-top: 30px;
        margin-bottom: 45px;
    }
}